In [7]:
import pandas as pd
df = pd.read_csv("dataset.csv")
df.head()

   Subject  BLA  MLA  HLA   AvgScore  Time         RCL
0        1    1    0    2  11.666667  300s  DSA Medium
1        1    1    0    2  11.666667  300s  DSA Medium
2        1    1    3    2  21.666667  720s    DSA High
3        1    0    3    0  10.000000  480s   DSA Basic
4        2    1    0    1   6.666667  360s    ML Basic

In [2]:
df.RCL.unique()

array(['DSA Medium', 'DSA High', 'DSA Basic', 'ML Basic', 'ML Medium',
       'JAVA Basic', 'ML High', 'JAVA High', 'JAVA Medium', 'RETEST'],
      dtype=object)

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import VarianceThreshold
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
del df['Time']
df.head()

   Subject  BLA  MLA  HLA   AvgScore         RCL
0        1    1    0    2  11.666667  DSA Medium
1        1    1    0    2  11.666667  DSA Medium
2        1    1    3    2  21.666667    DSA High
3        1    0    3    0  10.000000   DSA Basic
4        2    1    0    1   6.666667    ML Basic

In [21]:
print(pd.Series(df['Subject']))

0      1
1      1
2      1
3      1
4      2
5      2
6      1
7      1
8      3
9      2
10     1
11     1
12     2
13     3
14     3
15     1
16     1
17     1
18     1
19     1
20     1
21     2
22     1
23     3
24     3
25     2
26     3
27     2
28     2
29     3
      ..
970    1
971    2
972    1
973    3
974    3
975    2
976    3
977    1
978    2
979    1
980    3
981    3
982    1
983    3
984    2
985    2
986    1
987    1
988    3
989    2
990    1
991    2
992    2
993    3
994    2
995    3
996    3
997    3
998    3
999    1
Name: Subject, Length: 1000, dtype: int64

In [12]:
X = df.iloc[:, 0:5]
y = df.iloc[:, -1]
y.head()

0    DSA Medium
1    DSA Medium
2      DSA High
3     DSA Basic
4      ML Basic
Name: RCL, dtype: object

In [13]:
from sklearn import preprocessing

x = X.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X = pd.DataFrame(x_scaled)

In [14]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, test_size=0.20)

In [17]:
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [18]:
import pickle

In [19]:
pickle.dump(classifier, open('model1.pkl','wb'))